*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width:80%;
    margin: 0 auto;
}

.text-center{
    text-align:center;
}

.text-deco{
    text-decoration: none;
}


/* Css for MENU */

.menu{
    border-bottom: 1px solid black;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline-block;
    padding: 1%;
}

.menu ul li a{
    font-weight: bold;
    color:#ff6b81
}

.menu ul li a:hover{
    color: #ff4757;
}


/* Css for MAIN CONTENT */

.main-content{
    background-color:#f1f2f6;
    padding:2%;
}

.main-wrapper{
    display: flex;
    justify-content: space-around;
}

.col-4{
    width: 20%;
    background-color: white;
    margin:1%;
    padding: 2%;
}

.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px soild black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding:1%;
}


.btn-primary{
    background-color:#70a1ff;
    padding: 1%;
    color: white;
    font-weight: bold;
    border-radius:5px;
    color: #3c3131;
}

.btn-primary:hover{
    background-color: #1e90ff;
}


.btn-secondary{
    background-color:#7bed9f;
    padding: 1%;
    color: white;
    font-weight: bold;
    border-radius:3px;
    color: #3c3131;
}

.btn-secondary:hover{
    background-color: #2ed573;
}



.btn-danger{
    background-color:#ff6b81    ;
    padding: 1%;
    color: white;
    font-weight: bold;
    border-radius:3px;
    color: #3c3131;
}

.btn-danger:hover{
    background-color: #ff4757;
}


.success-msg{
    color:#2ed573;
}

.error-msg{
    color:#ff4757;
}



/* Css for FOOTER */

.footer{
    background-color:#ff4757;
    color:white;
}


/* Css for login */

.login{
    border: 1px solid grey;
    width: 20%;
    margin: 10px auto;
    padding: 2%;
    text-align: center;
}